.message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    color: black;
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
    height: 150px;
  
}

.message-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.options {
    margin-top: 20px;
}

.payment-btn,
.pay-on-site-btn {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.payment-btn {
    background-color: #007bff;
}

.pay-on-site-btn {
    background-color: #007bff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
